[2013-05-14 02:40] thebitguru opened #1 "RCD crashes"
RCD seems to be crashing for some folks.  I am guessing that this is because they are missing the codesign utility which might be part of XCode.  If you are facing this issue then can you please include the output of running the following command in `Terminal` (available at Applications > Utilities)?

[code]

[2013-09-23 08:49] devinrhode2 opened #2 "Let user define app play/pause starts"
I would like to start Spotify instead of iTunes.

[2014-01-15 14:36] spaghetticode opened #3 "doesn't work on mavericks"
as per title, at least on my machine ;-)

[2014-01-19 21:03] #3 closed, assigned to nobody

[2014-01-31 19:41] idontlikewords opened #4 "Play/Pause events from Bluetooth headphones still open iTunes"
I have a pair of Parrot Zik bluetooth headphones with integrated Play/Pause, Next/Prev & Volume controls, and the Play/Pause controls are still causing iTunes to open, even after installing the command line dev tools and running the most current version of the patch on Mavericks.

I've tested the Play/Pause button on the keyboard and it no longer opens iTunes under any circumstances.

Are Play/Pau

[2014-02-04 00:06] #4 closed, assigned to nobody

[2014-04-14 23:59] thebitguru opened #6 "object file format unrecognized, invalid, or unsuitable"
@bluestarstudios, moving our conversation from #1 here.

Can you please send me the output of the following command? (note the star at the end).

`md5 /System/Library/CoreServices/rcd.app/Contents/MacOS/rcd*`

[2014-04-14 23:59] #1 closed, assigned to thebitguru

[2014-04-30 17:08] rjacoby opened #7 "Partially works on 10.9.2"
I have a Monoprice BT headset, which is partially working with this patch.

If I'm running Spotify and pause a track with the headset play/pause button, Spotify pauses and that's fine. When I press again, Spotify unpauses but iTunes also launches!

The headset in question is:
http://www.monoprice.com/Product?c_id=108&cp_id=10823&cs_id=1082708&p_id=9387&seq=1&format=2

Script output:
https://gist.g

[2014-08-28 06:14] thebitguru opened #9 "Support in OS X Yosemite (10.10)"
I just tried the patch in OS X Yosemite Beta 2 and it seems to be working as expected without any changes.  I will try this for a little longer to see if I see any issues, but so far this seems to work in Beta 2.

[2014-08-28 15:06] #9 closed, assigned to nobody

[2014-09-08 19:30] thebitguru opened #10 "rcd error in OS X 10.10"
Created from comment at http://www.thebitguru.com/projects/iTunesPatch

any work arounds?

[code]

[2014-09-08 19:33] thebitguru opened #11 "Uninstall the patch"
Hi Farhan,

Install the patches, found out all the remote buttons are disabled. I rerun the patch to undo the changes, but the remote button is still not working. I am running 10.9.4. Any advise?

Created from comment at http://www.thebitguru.com/projects/iTunesPatch

[2014-09-09 20:19] buritica opened #12 "Figure out customer care tech support for alpha and 1.0"

[2014-09-09 21:11] #12 closed, assigned to nobody

[2014-10-13 16:46] #10 closed, assigned to nobody

[2014-10-19 07:44] qwertimus opened #13 "Specify Python version in shebang"
On systems with Python 3 installed & set as the default, the script fails like this:

[code]

I got around this by slightly changing the shebang to:

[code]

This fixes the problem and allows the script to execute regardless of the default Python (3/2).

Also, kudos, your patch still works on Yosemite for me.

[2014-11-05 19:25] johnmu opened #14 "Has this been tested on Yosemite?"

[2014-11-11 00:05] #14 closed, assigned to nobody

[2014-11-11 00:07] #13 closed, assigned to nobody

[2014-12-23 16:37] codefox421 opened #15 "You can't use this version of the application with this version of OS X"
When trying to launch the GUI patch (0.9 as downloaded [here](http://www.thebitguru.com/projects/iTunesPatch)), I receive the following message:

[2014-12-31 08:51] 360fun opened #16 "Version 10.10.1 (Build 14B25) - Unexpected Error"
Hi, I get this error:
"Could not codesign the modified binary."

![image](https://cloud.githubusercontent.com/assets/844090/5586553/86da88c2-90d2-11e4-9c2d-8b38e8d28ae2.png)

iTunes still starts if I press the Play/Pause button... :(

[2015-01-02 09:48] 360fun commented on #16
ok, found the problem: I just installed OSX and XCode so I had to agree to the licence in order to use Python! ;) would be better find a strategy to avoid this problem or notice the user with an alert message.

---

a part that, this is my log file, I have another error about the updater, just check if is something to fix or is all ok:
02/01/15 10:32:19,000 kernel[0]: hfs: mounted Play Button iTun

[2015-01-02 09:53] 360fun commented on #16
wait! actually the patch is not working, the GUI tells me that everything is fine but iTunes still lunches with my earpods! instead the command line patch works perfectly...no idea why.

[2015-01-02 14:06] thebitguru commented on #16
The SUUpdate error is resolved in the latest build that I uploaded a few days ago.  It shouldn't effect this problem though.

I wonder if this is because the rcd process isn't restarted by the GUI.  I will add that to the next build and have another user try it out.

I will close this issue once I get that change implemented and uploaded.  Thanks for your help!

[2015-01-02 20:08] 360fun commented on #16
no problem :) let me know when it's ready!

[2015-01-15 16:18] codefox421 commented on #15
This version runs on my system. Thanks! :+1:

[2015-01-15 16:32] thebitguru commented on #15
Excellent!  Thanks for confirming.  I will go ahead and close this issue.

[2015-01-15 16:32] #15 closed

[2015-01-19 23:07] neoyoli opened #17 "GUI app, after patching, system needs to be restarted in order for the patch to work"
so it should be stated in the instructions, in order to avoid confusion.

[2015-01-20 04:44] thebitguru commented on #17
I think forcing the `rcd` process to restart will achieve the same result.  This is a step that I need to add.  I will keep this ticket open until I have gotten around to that.  Thanks for reporting this, @neoyoli.

[2015-02-05 18:19] runofthemill commented on #17
Was about to post the same issue - works perfect after restart, but agree a note in app instructions would have prevented confusion. Maybe addressable as a quicker fix than forcing `rcd` restart? Cheers for the app though!

[2015-02-17 13:04] jmunkki commented on #7
I'm using a Sony SBH-20 (inexpensive and quite useful) - mostly with my iPhone, but also on the MacBook Pro running Mavericks. My issue is that when I disconnect from the adapter, iTunes is launched. Running this patch seemed like it might fix the issue, but iTunes was still getting launched even after a reboot. My guess is that when you disconnect, it sends a "stop" and if you don't have iTunes p

[2015-02-20 23:15] thebitguru commented on #11
Closing since I haven't seen a response in a while.

[2015-02-20 23:15] #11 closed

[2015-03-03 06:03] thebitguru commented on #17
I just published an update that correctly kills and restarts the `rcd` process.  This means that the user doesn't have to restart the system.  I still added a message recommending to restart in case if the process restart didn't work for some reason.  Please download 1.0 from http://www.thebitguru.com/projects/iTunesPatch.

Closing this issue.  Thanks again for creating reporting it!

[2015-03-03 06:03] #17 closed

[2015-03-03 06:07] thebitguru commented on #16
I just published an update that checks for the command line tools, and correctly kills and restarts the `rcd` process.  The latest version also has plenty of logging built in so hopefully issues would be more obvious.

Please download 1.0 from http://www.thebitguru.com/projects/iTunesPatch.

I am going to close this for now.  Please create a new issue if you experience any other problems.  Thanks!

[2015-03-03 06:07] #16 closed

[2015-03-03 06:27] neoyoli commented on #17
Thanks, I downloaded it!

On Tuesday 3 March 2015 at 07:03, Farhan Ahmad wrote:

[2015-03-03 06:30] thebitguru commented on #6
I just published a GUI version of the app that has much better detection and logging.  Can you please try that?  You can download it from http://www.thebitguru.com/projects/iTunesPatch.  If you continue to have problems please paste the content of the log file (accessible through the report issue button) in this issue.  Thanks!

[2015-03-04 22:51] bluestarstudios commented on #6
Great job on this! I tested and it works. However it doesn't work when pressing "Play/Pause" on a bluetooth speaker. That still launches iTunes.

[2015-03-04 23:20] thebitguru commented on #6
Hmm... what type of speakers do you have?  I am guessing that it might have it's own driver or code that's launching iTunes.

[2015-03-05 00:04] bluestarstudios commented on #6
It’s actually the BTS-06. It’s a standard bluetooth speaker. No installation or configuration needed.

On Mar 4, 2015, at 3:20 PM, Farhan Ahmad <notifications@github.com> wrote:

[2015-03-24 09:36] dsiem commented on #2
At least for rdio you can simply replace `--ll application id \"com.apple.iTunes\" to launch` by `tell application id \"com.rdio.desktop\" to launch` in Patcher.m. The fortunate thing in this case is that both strings have equal length. If the new application id is shorter, you can probably place comment symbols or spaces at the appropriate places. If the new application id is longer, this approac

[2015-03-24 16:12] dsiem commented on #2
For Spotify you could probably do something like `tell application    \"Spotify\"          to launch` (note the spaces which are placed arbitrarily)

[2015-03-26 20:10] dirichlet222 opened #18 "Could not codesign the modified binary."
I already had Xcode and the command line tools installed

User name has been substituted from privacy in the log:

2015/03/26 19:03:07:971 | INFO | AppDelegate:65 - --------------- New session - Version 1.0 ---------------
2015/03/26 19:03:07:977 | INFO | AppDelegate:66 - Log file directory: /Users/macuser/Library/Logs/Play Button iTunes Patch
2015/03/26 19:03:07:980 | INFO | AppDelegate:78 - OS V

[2015-03-29 21:13] dirichlet222 commented on #18
Never mind, now it works, the OS needed a reboot after installing Xcode+CLT. Maybe add a warning for that?

[2015-03-29 21:13] #18 closed

[2015-04-03 15:33] digerata commented on #2
Thanks, @dsiem!  Just used your method to have spotify start. Worked great.  Thanks @thebitguru for creating this!

[2015-04-16 21:48] Cam1337 opened #19 "Yosemite 10.10.3"
I saw that you confirmed the beta2 of Yosemite works, but I am not experiencing functionality in 10.10.3. I am not experiencing crashes or any logs in console.app but iTunes is still opening after successfully applying the patch. I can submit a video if you would like proof, and any more files that would be relevant.

Thank you!

Best,
Cameron

[2015-04-16 21:52] Cam1337 commented on #19
I'm glad I resolved this 10 seconds after posting and 3 hours after starting. The issue seems to be that the current github app is version 0.9 and the app on your website is 1.0. I would suggest updating the app here for those of us that chose to download with a git clone command instead of through your official website DMG.

Thank you!

[2015-04-16 21:52] #19 closed

[2015-04-18 15:25] thebitguru commented on #19
Hi @Cam1337,

Sorry, I am not sure what you mean.  I confirmed that I don't have any releases on github.  Did you manually compile?

[2015-04-18 16:41] thebitguru opened #20 "Add instructions for command line tools in older OS X versions"
Add instructions for command line tools in older OS X versions because `xcode-select --install` isn't supported.

--

Yuetiva Deming reported this.  OS Version: Version 10.8.5.

I'm including this information for you:  I'm using verion 2311 of Xcode which is the newest version I found on the developer site for Mountain Lion. When I entered the command you gave me, this is what came up:

    xcode-

[2015-04-21 17:29] gaschu95 commented on #2
@dsiem Sorry, I'm new to python so please correct me.

What you're saying is I should replace
```map[found_at:found_at+2] = "--"```
with
```map[found_at:len(string_to_find)] = "tell application __ \"Spotify\" to launch"```
?

[2015-04-21 17:35] dsiem commented on #2
For the old python based cli something like

    map[found_at:found_at+len(string_to_find)] = 'tell application "Spotify" to launch            '

should work

[2015-04-29 02:21] jw84 commented on #2
I'm on OS X 10.10.3 and got this script with the GUI to patch correctly. Works great! Now I'm interested in having the play/pause button just mute and unmute all audio. Any insight?

[2015-05-19 08:41] psarossy opened #21 "Patch does not work with 10.10.3 Build 14D136"
hey,

I did the patch, it created the back up and shows that RCD is parched, itunes still starts.

Cheers,
Peter

[2015-05-26 22:54] jmartinezmd commented on #18
I have the same error here, Already had Xcode and CTL installed.... I tried restarting but still the same :(

[2015-06-08 01:24] thebitguru commented on #21
This might be a little late, but can you run the app and share the log?

[2015-06-16 22:00] q42jaap opened #22 "Problem with code signing rcd"
After applying the patch, some things start crashing, fortunately, restoring the backup works very well... However, I would still like to patch the stupid play button starting itunes...

[2015-06-16 22:03] q42jaap commented on #22
[code]

[2015-06-30 18:44] kevincoleman commented on #21
If you run old-cli/Patch.command, it works correctly. 10.10.3; 14D136, iTunes v12.1.2.27.

Verified that the package does not work, symptoms as @psarossy mentioned.

Here’s my log from XCode (not sure if it’s what you’re looking for...): https://gist.github.com/kevincoleman/7c382aad487beed7a383

[2015-07-01 19:31] mislav commented on #2
Thanks @dsiem, the approach with spaces works. I was able to tweak the binary so it starts Spotify on remote button press, pauses and resumes music on button press, and skips to next song on button double press. (Going back to previous song doesn't work on button triple press, though.)

However, pausing, resuming, and skipping to next song in Spotify **only works if iTunes is running in the backgr

[2015-07-02 14:16] dsiem commented on #2
That sounds strange. I have no problem with the functionality of any of the buttons whether the app is in focus or not. But then I'm also using Rdio and not Spotify. Anyway, the patch doesn't change the behaviour of the buttons once the app is running. It only makes `rcd` launch Rdio/Spotify instead of iTunes when none of these apps is running. I think this is a Spotify issue.

[2015-07-02 18:08] mislav commented on #2
Well, I made a script that replaces all "com.apple.iTunes" with "Spotify" in the binary, not just the launch script, which affects the embeded scripts to pause/resume/skip track. The end effect is as I described earlier: pause/resume/skip track actually works within Spotify via remote buttons on headset. However, they only work if iTunes is running, although these controls don't actually affect iT

[2015-07-31 18:22] bsuh commented on #22
/usr/bin/codesign is included with Xcode command line tools.

[2015-08-03 00:29] NinoFloris opened #23 "Chrome global media keys don't work with patch"
Hi guys,

Chrome global media keys die when the rcd is patched.

Tested on OSX Yosemite 10.10.4 with Chrome 44.

[2015-08-07 15:46] jonnynezbo opened #24 "After restoring from backup, seeing a 'rcd quit unexpectedly.' dialog every 10 seconds"
The dialog begins appearing repeatedly after I press the play button after restoring from backup.

Here's a screenshot of the dialog:

https://dl.dropboxusercontent.com/spa/w9y331nq8d0g5zi/sxak2-pn.png

And here's the report from the dialog:

Process:               rcd [650]
Path:                  /System/Library/CoreServices/rcd.app/Contents/MacOS/rcd
Identifier:            rcd
Version:

[2015-08-07 15:49] jonnynezbo commented on #24
I am trying to remove the patch because my play/pause button doesn't work in iTunes for some reason. I wanted to rule out the patch as the cause.

[2015-08-07 16:01] jonnynezbo commented on #24
It's worth noting that I was using an older version of the patch (pre Mac app). I tried restoring using that first, and the problem happened then. So, I installed the app in hopes that it would clear the issue up - but it's still happening. I'm stuck with the patch installed for now. I'm using Apple Music now, so I actually prefer to have the play button launch iTunes now.

[2015-08-07 16:04] jonnynezbo commented on #24
For now, I'm just running the patch and hoping for a fix. It's not annoying enough to to a fresh install of OS X, but it is frustrating none the less.

I appreciate your efforts in developing this patch that worked well for so long. I know you're doing it for free, and it can be frustrating for support an app that doesn't make you any money!

[2015-08-07 20:25] thebitguru commented on #24
Hi @jonnynezbo,

Yeah, you should not have to do a fresh install to fix this.  Can you run the GUI patch and share the log?  Most likely you are missing the OS X command line tools where the binary gets patched, but cannot be signed.

[2015-08-07 20:37] jonnynezbo commented on #24
Thanks for the reply @thebitguru. I could not find the log when patching with the GUI app. All I see is this:

https://dl.dropboxusercontent.com/spa/w9y331nq8d0g5zi/64a48i6d.png

[2015-08-07 21:08] thebitguru commented on #24
It's in the application menu as shown below.

![image](https://cloud.githubusercontent.com/assets/163550/9145898/bbecbd6c-3d1d-11e5-9362-14dd52dfe52c.png)

Did using the GUI version fix the issue?  If not then can you share the log file with me?  I am on 10.10.4 so I am surprised that this didn't work for you.

If you would like to back out the patch... right click on the file that says "Unpatched

[2015-08-11 15:18] jonnynezbo commented on #24
Sorry it took me so long to respond. Here is the log from when I patch:

    2015/08/11 11:15:14:769 | INFO | AppDelegate:65 - --------------- New session - Version 1.0 ---------------
    2015/08/11 11:15:14:773 | INFO | AppDelegate:66 - Log file directory: /Users/jonathan/Library/Logs/Play Button iTunes Patch
    2015/08/11 11:15:14:773 | INFO | AppDelegate:78 - OS Version: Version 10.10.4 (Buil

[2015-08-11 15:19] jonnynezbo commented on #24
Unfortunately the GUI app did not fix the issue. I downloaded it in hopes that it would. The problem happened when I backed out the patch that I applied over 6 months ago.

[2015-08-11 15:20] jonnynezbo commented on #24
To be clear, I'm seeing the error screen continuously **after** I back out the patch. When the patch is installed, then I don't see the error screen and it appears to work as intended. If there is a way to re-install the original rcd for 10.10.4, maybe that would fix the issue. Could there be interference with another app? Like Boom 2 for Mac?

[2015-08-15 14:16] CFarzaneh opened #25 "iTunes Banner Notifications not showing after patch"
After patching rcd with the Play Button iTunes Patch GUI, iTunes no longer displays a banner notification when the song changes but the notification still pins in Notification Center.

Unpatching it fixes this

[2015-08-15 23:18] thebitguru commented on #25
That's quite surprising because the patch is relatively simple and shouldn't impact the notifications in any way.  I just tried it on my local machine (OS X 10.10.5, Build 14F27) and I still see the banner even with `rcd` patched.  Are you sure there isn't anything else on your system that could be preventing it?

[2015-09-11 21:12] maximede opened #26 "Play Button Itunes Patch.app crashing under OSX El Capitan"
After clicking on ```Patch``` , it asks me for my password once, after I input my password and click ```ok```, it silently crash

I'm running El Capitan Golden Master, so I guess it'll happen with the release version on the 30th of September

Here is what I have in the logs

[code]

[2015-09-11 21:45] thebitguru commented on #26
Thanks for reporting, @maximede.  I am guessing that this is because of OS X's new System Integrity Protection.  Have you disabled it already by any chance and tried?  I am guessing that many users would not want to disable it.

I am installing El Capitan GM on a macbook to see if I can find out for sure what might be going on here.  I will likely have to update the app to look for SIP and inform

[2015-09-11 22:26] thebitguru commented on #26
Yup, it's SIP.  I wasn't doing any error checking so the program crashes when it can't create the backup file.

[code]

I will have to do some research to figure out the options around this, but I am afraid that we don't have many options.  The short term workaround would be to disable SIP.

[2015-09-11 23:31] maximede commented on #26
I'm a bit confused by this SIP stuff, can I deactivate it just for running your app ? Where can I deactivate it ?

[2015-09-12 03:28] jacksonmcclelland commented on #11
Hi, can you help me with uninstalling? Play / pause doesn't seem to be working at all anymore, and I'd like to see if the patch is the cause of this.

[2015-09-12 20:37] thebitguru commented on #11
@jacksonmcclelland The GUI app should allow you to uninstall.  Have you tried that?

[2015-09-13 22:07] jacksonmcclelland commented on #11
works, thank you!

Jack

On Sat, Sep 12, 2015 at 1:37 PM, Farhan Ahmad <notifications@github.com>
wrote:

[2015-09-22 10:30] cguess commented on #26
+1 for figuring out a solution. This tool has been phenomenal and without it I'm going more than just a little insane.

[2015-09-23 20:29] akszydelko opened #27 "Path does not work with Samsung Level Over"
Hi,

I have pathed my mac and also restarted the system (it showed me success message), but it is not working iTunes is still opening. I am using the Samsung Level Over headphones and mavericks 10.9.5.

I can help with debugging if anyone will tell me how ;)

[2015-09-28 12:42] timbru31 commented on #26
Sadly having the same issue. Bartender solved it by disabling the SIP once, installed the necessary components and then re-enable SIP.
I fear that this would be necessary every new iTunes release.

[2015-09-29 15:04] thebitguru commented on #26
Sorry, been quite busy lately.

@timbru31 That's interesting.  I didn't realize that you could disable, change and then re-enable.  Windows's protection generally does checksums and other checks so I just assumed that OS X would do something similar and replace with the released version even if I somehow changed it, but if they don't then this could be a viable solution.  I will have to look into

[2015-09-29 18:35] timbru31 commented on #26
We all are sometimes ;)

There is a command line utility to configure SIP/rootless. However this only works when in Recovery mode (booted via CMD + R)

https://developer.apple.com/library/prerelease/mac/documentation/Security/Conceptual/System_Integrity_Protection_Guide/ConfiguringSystemIntegrityProtection/ConfiguringSystemIntegrityProtection.html
Maybe this helps you in some way.

[2015-10-02 00:47] nicolascoffman opened #28 "No longer works 10.11?"
Opened the app, says unmatched, command line tools installed, hit patch, displays warning about needing password multiple times.  Only prompts once and then dies. :(

[2015-10-02 00:48] nicolascoffman commented on #28
I see this thread is already there.  Jumped the gun.

[2015-10-02 00:48] #28 closed

[2015-11-10 11:05] thetwopct commented on #26
Sadly having same issue. Going insane with iTunes loading :)

[2015-11-10 19:44] unfairSurprisery commented on #26
I was having the same issue. I tried running the codesign utility manually, and found out that I hadn't re-accepted the Xcode license as root yet. Just open a terminal and run `sudo xcrun cc`. It should bring up the prompt to accept the Xcode license just follow that then the patcher should run fine. Just remember to back out of the failed patch first.

[2015-11-10 19:49] unfairSurprisery commented on #22
I was having this problem with Xcode and the command line tools installed, so I tried running codesign manually and found that I just hadn't re-accepted the Xcode license as root since the last update. To fix just run `sudo xcrun cc` in your terminal then retry patching. Just make sure to back out of the bad patch first.

[2015-11-18 19:22] nachtien commented on #26
As others have said, disabling SIP fixes the issue.  Here is how to disable it:

Reboot your Mac into Recovery Mode by restarting your computer and holding down Command+R until the Apple logo appears on your screen.
Click Utilities > Terminal.
In the Terminal window, type in csrutil disable and press Enter.
Restart your Mac.

http://apple.stackexchange.com/posts/208481

[2015-11-22 06:17] frozenpandaman commented on #26
Also having this issue. Is there a way around it besides disabling SIP? How would I go about manually patching the file/patching it myself?

[2015-11-22 06:19] frozenpandaman commented on #26
Here is the output of the old Patch.command:
[code]

[2015-12-07 09:33] dhruvbhatia commented on #26
+1

[2015-12-16 16:23] AndiH commented on #26
Same here, unfortunately.

[2015-12-17 07:49] mk2soldier commented on #26
I don't think that it would be possible to patch it without disabling SIP, if this is a problem for you, you can always reactivate it later with this command: $ crsutil enable

[2015-12-17 13:24] kasperhartwich commented on #26
+1

[2015-12-23 12:50] heyrm commented on #26
+1

[2016-01-08 22:51] brianmueller commented on #26
+1
this is the error I get after patching: "could not codesign the modified binary"

[2016-02-25 06:26] emileechen commented on #26
+1

[2016-03-11 16:32] jmcguire commented on #26
+1

[2016-03-15 00:27] thebitguru commented on #26
Hi Everyone,

Sorry for being AWOL.  My primary job has been keeping me very busy.  I have validated that the patch works by temporarily disabling SIP, patching and then re-enabling.  I have added the instructions to the [project page](http://www.thebitguru.com/projects/iTunesPatch).  Can you please try and let me know if it resolves the issue?

Thanks!

[2016-03-15 00:28] thebitguru commented on #22
@q42jaap Sorry, this has been a while.  I am assuming that this was fixed so I will close for now.  Please reopen if it is still an issue.  Thanks!

[2016-03-15 00:28] #22 closed

[2016-03-15 00:29] thebitguru commented on #24
Hi @jonnynezbo, sorry, I have been quite busy.  Were you able to get this resolved?

[2016-03-15 00:31] thebitguru commented on #23
Hi @NinoFloris, can you please let me know if this is still an issue?  I am surprised that this would interfere.  I am going to close the issue for now.  Can you please reopen with instructions on how I can reproduce it?  Thanks!

[2016-03-15 00:31] #23 closed

[2016-03-15 00:32] #25 closed

[2016-03-15 00:33] thebitguru commented on #21
I believe this has been fixed with the most recent dmg.

[2016-03-15 00:33] #21 closed

[2016-03-15 00:36] thebitguru commented on #27
Hi @akszydelko, do you know if it required you to install any additional software?

[2016-03-15 00:36] #20 closed

[2016-03-15 02:18] thebitguru opened #29 "Figure out how to support bluetooth buttons"
One of the common requests has been to allow overriding the play/pause button that various bluetooth headsets and speakers have.  Users are reporting that the button on those devices continue to launch iTunes.  Based on my initial research this might be specific to the utilities that the manufacturers supply.  I have not had enough time to validate if this is true in all cases.  If it is, then a b

[2016-03-15 02:18] thebitguru commented on #6
hi @bluestarstudios, sorry, unfortunately, I likely won't get much time to work on the bluetooth related functionality.

I have created #29 to track this and I am looking for someone who can take on this work.  Thanks!

[2016-03-15 02:18] #6 closed

[2016-03-15 02:19] thebitguru commented on #7
Sorry, unfortunately, I likely won't get much time to work on the bluetooth related functionality.  I have created #29 to track this in a single issue.  I am looking for someone who can take on this work.  Thanks!

[2016-03-15 02:19] #7 closed

[2016-03-15 02:19] thebitguru commented on #27
Sorry, unfortunately, I likely won't get much time to work on the bluetooth related functionality.  I have created #29 to track this in a single issue.  I am looking for someone who can take on this work.  Thanks!

[2016-03-15 02:19] #27 closed

[2016-03-15 13:50] jonnynezbo commented on #24
I was never able to fix the issue. It worked well for a long time, but at some point it starting showing the 'rcd quit unexpectedly' dialog every 10 seconds. I did a fresh install of OS X awhile back, and haven't installed the utility since then.

[2016-03-15 13:50] #24 closed

[2016-03-15 13:51] jonnynezbo commented on #24
BTW, thanks for the work you put into it - and giving it away for free.

[2016-03-15 13:54] thebitguru commented on #24
Np :)  I have been on a clean install, and just applied the patch yesterday by temporarily disabling SIP.  See the instructions on the site if you are still looking for this.

[2016-03-18 02:30] bluishoul commented on #26
+1

[2016-03-18 18:56] thebitguru commented on #26
@bluishoul, can you please try the instructions on the project page and let me know if it works for you?

[2016-04-09 12:35] ashumeet opened #30 "rcd crashing after applying patch"
I disabled the file system protection and applied the patch. But rcd starts crashing right after the patch. And I have to restore the rcd from backup to make it work. :(

Please help. After hours and hours spend on google looking for a solution I found this.

[2016-04-09 13:40] thebitguru commented on #30
Can you share more info on what you see when it crashes?

[2016-04-10 07:29] ashumeet commented on #30
I made it work. I applied the patch before disabling SIP. Obviously it failed. But even after disabling SIP it kept on failing (I even tried to restore it from the backup the GUI makes). I had to go in my timeMachine system backup and copy rcd.app to the location, and applied the patch and it worked.

Moral of story.. DON'T try to apply patch before disabling SIP on OS X El Capitan.

[2016-04-10 17:33] thebitguru commented on #30
Hmm... I am surprised that this would have mattered.  If SIP is enabled then the utility wouldn't have been successful at patching the file so when you applied it again after disabling SIP then it should have just worked.

I am glad that you figured it out!

[2016-04-10 17:33] #30 closed

[2016-06-24 17:55] rfloriano opened #31 "Is it possible to use this project to open another App (like Spotify) when play button is pressed?"
Hello,

I'm looking for some workaround to open Spotify instead Itunes when play button is pressed.
Your project looks to move /System/Library/CoreServices/rcd.app/Contents/MacOS/rcd to simple "do nothing" when play button is pressed.
Do you think that can change this behavior to open some other defined program?

Thanks!

[2016-07-19 13:31] thebitguru commented on #31
Sorry for the slow response, @rfloriano.  It may be possible, but I haven't had enough time to investigate it.

[2016-07-19 13:31] #26 closed

[2016-09-11 17:05] thesociallions opened #32 "Codesign of rcd fails on 10.12 GM (16A320)"
Hi! I always use your program to patch that annoying play button behavior away. I tried it the other day on the macOS Sierra GM, but for some reason codesigning seems to fail. The error message I got was:

The program will continue patching and finish eventually, but after a reboot macOS will annoy the user with numerous error messages. Because the program makes a backup of rcd, it's easy to fix,

[2016-09-11 17:33] thebitguru commented on #32
Thanks for reporting this.  I don't have access to Sierra right now so I can't address this right away.  I will see if I can create a VM to address this.

I am assuming that you tried this with SIP disabled, right? (probably because, otherwise, it wouldn't let you create the backup).

[2016-09-11 19:34] thesociallions commented on #32
I indeed have SIP disabled. In the meantime, I found a log file created by the program: [com.thebitguru.Play-Button-iTunes-Patch 2016-09-09 15-58.txt](https://github.com/thebitguru/play-button-itunes-patch/files/466186/com.thebitguru.Play-Button-iTunes-Patch.2016-09-09.15-58.txt)

[2016-09-11 19:42] thebitguru commented on #32
Yeah, it's definitely related to the code sign.  I am waiting for a new VM to install and then upgrade to Sierra.  I will report back what I learn.

[2016-09-12 03:43] thebitguru commented on #32
OK, after stumbling through the macOS Sierra installation I was finally able to successfully get the Sierra GM running in Parallels.  I haven't figured out how to emulate the Play/Pause yet, but the patching process seems to have worked correctly.

[code]

After patching, I manually ran the `rcd` process and did not see any complaints about the signature.  I also validated the code signature after

[2016-09-14 10:41] thesociallions commented on #32
I tried signing rcd and then I found the root cause of the problem: the upgrade messed up my Xcode Developer Tools, which in turn lead to the failed codesign. A simple `xcode-select --install` was all it took to get it working again. The program fortunately works fine on Sierra. If people do run into trouble, they should first try to reinstall the developer tools.

[2016-09-14 10:41] #32 closed

[2016-09-14 16:23] thebitguru commented on #32
I am glad to hear that you were able to figure out the root cause and get it fixed.  How were you able to tell that the dev tools were messed up?  I ask because I am wondering if I can add an additional check to the app to address this for other users.

I will add a note to the website so other folks know.  Thanks for reporting the issue and working on a resolution.

[2016-09-19 16:49] spydercapriani opened #33 "Mac OS Sierra not working"
Doesn't appear to be functioning in Mac OS Sierra.

Have disabled csrutil, installed dmg, tested and found that it still launches iTunes when iTunes is not running.

[com.thebitguru.Play-Button-iTunes-Patch 2016-09-19 16-42.log.txt](https://github.com/thebitguru/play-button-itunes-patch/files/480588/com.thebitguru.Play-Button-iTunes-Patch.2016-09-19.16-42.log.txt)

[2016-09-19 17:00] thebitguru commented on #33
Interesting.  Everything in the log seems as I would expect it to be.  Can you confirm that you have tried after _restarting_?

[2016-09-19 17:17] spydercapriani commented on #33
I restarted after installation and once more just now just to be sure.  Still appears to be launching iTunes when issuing the play/pause command.

[2016-09-20 01:26] thebitguru commented on #33
I am not sure what else to try.  This used to work in El Capitan, right?  Which mac are you using?

[2016-09-20 14:36] spydercapriani commented on #33
I must admit that I did not actually attempt to use this in El Capitan.  I
am using a Mac Pro.  Do you know of a way to emulate the media key via an
AppleScript?  I just wonder if it is not the keyboard software that is
purposefully sending a script for iTunes Play/Pause.  However, my whole
intention for installing this was to work in conjunction with my bluetooth
headphones and so I am also using

[2016-09-20 15:40] thebitguru commented on #33
Oh, it's bluetooth headphones!  Yes, this patch is not expected to fix that because many times that functionality is implemented by proprietary drivers that the manufacturer provides.  Which headphones do you use, and did you have to install anything special for it to work?

I should really buy some myself and see if there is a different binary that needs to be patched.

[2016-09-20 18:26] spydercapriani commented on #33
I have been trying to get my bluetooth headphones to work with Spotify and
came across this post in some forums
<https://community.spotify.com/t5/Desktop-Linux-Windows-Web-Player/Bluetooth-headset-buttons/td-p/161796>
that pointed out your solution combined with the mac-bt-headset-fix would
do the trick.

I am currently using a pair of Trek Titanium bluetooth headphones. They
didn’t come with any

[2016-09-20 21:37] thebitguru commented on #33
I see.  The intent of this patch is to just prevent the base operating system from launching iTunes.  Beyond that, as you are finding out, there are additional pieces that make this complicated and unreliable.

The keyboard should still work as expected, but I am guessing that it is likely the Microsoft software that's overriding the functionality.  What is that configured to do when the play/paus

[2016-09-21 13:37] thesociallions commented on #32
I upgraded to the final version of Sierra this afternoon, so I could finally find out what error it was throwing. Here's the error in full:
[code]

[2016-09-21 15:44] thebitguru commented on #32
Thanks for the update.  I am glad to hear that it is working now.  This seems to be a recurring issue with upgrades so I will see if I can add a check for it as well.

[2016-09-22 12:33] SamuelDebruyn commented on #33
In El Capitan pressing Play/Pause on my BT headphones worked as expected. It never opened iTunes and just paused my Spotify. In Sierra, it opens iTunes and Spotify continues to play. Would this patch fix that?

[2016-09-23 14:42] thebitguru commented on #33
Unfortunately, no, this patch is not addressing BT headphones.  You might want to try https://github.com/jguice/mac-bt-headset-fix

[2016-09-26 01:45] #33 closed

[2016-10-04 20:49] AnthoPakPak opened #34 "Doesn't work anymore on iTunes 12.5.1"
Everything was working well until I updated iTunes to 12.5.1.
It doesn't seems to work anymore (even with patching again).
Even if the patching work is successful, the Play key is still opening iTunes.

[2016-10-04 20:57] AnthoPakPak commented on #34
Works after rebooting, sorry !

[2016-10-04 20:57] #34 closed

[2016-10-05 02:06] thebitguru commented on #34
Glad to hear.  Thanks!

[2016-10-10 10:06] ellsta5 commented on #32
Hi, @thebitguru , thanks for this page! It helped a lot, as I was having the same issue.

[2016-10-19 11:05] iiNku commented on #33
I see that you have closed the issue but I'm still facing it :(

[2016-10-24 05:11] thebitguru commented on #33
@iiNku, can you explain what specifically you are facing?

[2016-10-27 09:46] serhatbolsu commented on #32
"in sierra"
I have xcode command line tools, but as soon as I click "patch" , app closes and evidently it is not effective.
When I re-opened to app, status seems "unpatched". Can I debug this  ?

Great idea btw, thank you

[2016-10-31 01:35] thebitguru opened #35 "App Crashes in Sierra"
Creating new issue from https://github.com/thebitguru/play-button-itunes-patch/issues/32#issuecomment-256596762 by @serhatbolsu.

@serhatbolsu, please open the Console app, and then try patching again.  Once the app crashes please copy and paste the related entries from the Console app here.

[2016-10-31 06:56] serhatbolsu commented on #35
default 09:55:04.512653 +0300 Google Chrome Helper  Failed to look up the port for "com.apple.windowserver.active" (1100)
default 09:55:04.566934 +0300 opendirectoryd  Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0
default 09:55:04.808856 +0300 mds directQueryFetchResultsReply 20490 1795162112 0
default 09:55:04.822990 +0300 opendirectoryd  Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0

[2016-10-31 13:47] thebitguru commented on #35
Unfortunately, that didn't show anything obvious.  Can you share the log file?  The screenshot below shows where to find it.

![image](https://cloud.githubusercontent.com/assets/163550/19856232/94fb04ca-9f46-11e6-80b2-1658c053587d.png)

[2016-10-31 13:59] serhatbolsu commented on #35
I hope this helps

[2016-10-31 14:01] serhatbolsu commented on #35
[Archive.zip](https://github.com/thebitguru/play-button-itunes-patch/files/561884/Archive.zip)

[2016-10-31 14:02] serhatbolsu commented on #35
Could it be a language thing ? I got region setting as "Turkey"

[2016-10-31 20:22] thebitguru commented on #35
Yes, this is a little more helpful.  Everytime it seems to crash right when it is writing to the protected file.  Can you confirm that you have disabled System Integrity Protection?

[2016-11-01 00:09] serhatbolsu commented on #35
I did not, was this necassary ? isnt it too much ?

[2016-11-01 01:41] thebitguru commented on #35
Yes, it's needed starting with El Capitan.  I am hoping to add a check for it, but haven't had time for it yet.

You can enable it again after patching.

[2016-11-17 09:10] simondebaecke opened #36 "External remote control still start iTunes"
Hi !

I opened an issue because I wanted to let you know that the touch control panel of my wireless Sennheiser (Urbanite) headphone still open iTunes since macOS Sierra (but fortunately the play button of the apple keyboard don't). Before Sierra update, everything works as expected.

Could you check in any way to fix this ?

Thank you in advance !

[2016-11-17 09:18] simondebaecke commented on #36
My bad, you already have opened an issue for this kind of problem with #29

[2016-11-17 09:18] #36 closed

[2016-11-17 13:22] OliverPearmain opened #37 "App Crashes and Disappears After I Enter Password"
I've never used this application or patch before.

I installed and ran it for the first time and when I launch it says rcd is unpatched.  When I press patch, I'm prompted to enter my password the first time.  When I enter my password and hit OK the app immediately dies.

When I relaunch the app rcd is still unpatched.  I have attempted rebooting and rerunning but get the same result everytime.

No

[2016-11-17 13:23] OliverPearmain commented on #37
Aha, found it :-)

[com.thebitguru.Play-Button-iTunes-Patch 2016-11-17 13-07.log.txt](https://github.com/thebitguru/play-button-itunes-patch/files/597448/com.thebitguru.Play-Button-iTunes-Patch.2016-11-17.13-07.log.txt)

[2016-11-17 22:08] thebitguru commented on #37
This is odd.  It should be able to write with SIP disabled.  I am guessing that this is still likely a permission issue.  Can you share the output of the following command?

`ls -la /System/Library/CoreServices/rcd.app/Contents/MacOS/`

[2016-11-17 22:08] #35 closed

[2016-11-17 22:15] OliverPearmain commented on #37
Sure, the output is...

[code]

[2016-11-17 22:18] OliverPearmain commented on #37
FYI, here's my SIP status...

[code]

[2016-11-18 04:53] thebitguru commented on #37
Hmm... maybe that's it.  I am not sure what "custom configuration" means in this case.  Do you want to try disabling it completely?  You can switch it back to your custom configuration afterward.

[2016-11-20 00:22] 5ilverorange commented on #37
I experience the same. When I did a check on SIP, I also got the "custom configuration" message, except for mine is a bit different:

Configuration:
	Apple Internal: disabled
	Kext Signing: disabled
	Filesystem Protections: enabled
	Debugging Restrictions: enabled
	DTrace Restrictions: enabled
	NVRAM Protections: enabled
	BaseSystem Verification: enabled

This is an unsupported configuration, like

[2016-11-20 01:54] thebitguru commented on #37
@5ilverorange, from your output, it's the "Filesystem Protections" that's the issue.  Having this enabled doesn't allow the utility to write the new patched file.

[2016-11-22 20:12] OliverPearmain commented on #37
I have resolved my issue.  I just needed to disable specifically the `Filesystem Protections` part of SIP.

In case it helps others, I achieved this by booting into recovery (by holding CMD-R during bootup).  Launcing the Terminal (via the menu) and entering the following command:

`csrutil enable --without filesystem`

Thanks for your help.

[2016-11-22 20:33] #37 closed

[2016-11-22 20:44] thebitguru commented on #37
Good to hear.  Thanks for sharing your solution.

[2016-12-07 14:56] oscarmorrison opened #38 "Not working on MacOS Sierra"
Patch opens, then just quits automatically

[2016-12-25 05:46] thebitguru commented on #38
Sorry for the delay, @oscarmorrison.  Can you look in the Console app around the time that you launch the app and see if there is any info about the crash there?

[2017-01-04 16:14] btrd commented on #38
I have the same issue and I got this in my console

[code]

[2017-01-06 21:30] thebitguru commented on #38
@btrd, looks like SIP wasn't disabled on your system.  Please see the `OS X El Capitan, macOS Sierra Compatibility` section at https://thebitguru.com/projects/itunes-patch

[2017-01-09 05:22] thebitguru commented on #38
Closing because I haven't seen a response.  Please reopen if still an issue.

[2017-01-09 05:22] #38 closed

[2017-01-09 11:47] Kevlordofcode opened #39 "Patched but bluetooth button still triggering itunes"
Hi,

I have been using your patch with success since more than one year, thank you for that. However, since the last major OSX update I can't make it work properly again. I am running Sierra version 10.12.2 (16C67) and iTunes version 12.5.4.42, I have followed the usual procedure, installed xcode command line tools, disabled SIP, checked its status, successfully applied the patch, enabled SIP agai

[2017-01-20 23:29] ErikRye opened #40 "Macbook Sierra 10.12.3"
The patch sort of works. Before the patch my wireless bluetooth headphones would trigger itunes when turned on and my music library would start playing the first song in my music library.
Now, after the patch, my headphones still do trigger itunes to open but no music plays, so I'm satisfied.
Maybe the attached log will help reveal a fix for headphones triggering itunes.
Thanks for sharing your ex

[2017-01-21 02:17] ErikRye commented on #40
Here is another error log I received after installing patch.
[rcd log [594].pdf](https://github.com/thebitguru/play-button-itunes-patch/files/720846/rcd.log.594.pdf)

[2017-01-21 02:17] #40 closed

[2017-01-21 18:46] ErikRye commented on #39
If you didn't do it before, run this command in terminal after SIP is enabled again:
xcode-select --install

I'm on 10.12.3 and the patch prevents my itunes library from playing automatically like it did before, but itunes does still open...

[2017-01-26 10:03] Kevlordofcode commented on #39
Thank you for your advice. Unfortunately it did not solve the issue. I am also on osx 10.12.3 now, it did not change anything either

[2017-03-17 21:28] thebitguru commented on #39
Sorry, I overlooked this issue.  @Kevlordofcode, unfortunately, the patch is not expected to prevent this behavior of the bluetooth headsets.  BTW, did your headset come with it's own utility/drivers?

[2017-03-17 21:28] #39 closed

[2017-03-20 09:43] Kevlordofcode commented on #39
Hi, I don’t think so. It is a Parrot Zik 2.0 headset and I don’t remember having installed any driver.

Thank you for your answer anyway!

Best regards

On 17 mars 2017 à 22:28 +0100, Farhan Ahmad <notifications@github.com>, wrote:

[2017-08-25 12:01] RobertoMinelli commented on #2
@mislav, do you mind sharing your `rcd` patched file that works with Spotify?

[2017-10-03 16:10] caiw opened #41 "The certificate on the official website has expired"
The one linked in the Readme.

[2017-10-03 16:16] thebitguru commented on #41
Thanks for pointing this out, @caiw!  Fixed.

[2017-10-03 16:16] #41 closed

[2017-10-04 00:57] garyking opened #42 "How to restore manually if backup doesn't exist?"
Hello, for some reason, I don't have a backup version of the `rcd` file. I might have had it originally, but it disappeared, perhaps after upgrading to High Sierra?

Anyway, is it possible to restore the original file somehow if I don't have the backup?

[2017-10-04 02:45] thebitguru commented on #42
Hi, Gary,

Does the utility show it as patched?

[2017-10-04 02:55] garyking commented on #42
@thebitguru Yes, it shows as "Patched".

[2017-10-04 14:26] thebitguru commented on #42
I see.  I had to install High Sierra from scratch because of other issues, but I am surprised that the installer didn't overwrite this file like the previous installers have always done.

Do you have access to another Mac?  Getting the file from there might be the easiest.

Also, are you having any issues with the patched version?

[2017-10-04 16:05] garyking commented on #42
If I have access to another Mac, where do I get the file from? I have access to another, older Mac, that's running Sierra rather than High Sierra.

Since installing High Sierra, for some reason, my keyboard media keys would sometimes randomly stop working, and I have to restart my computer to fix them, so I wanted to reset the iTunes Patch to see if that helped.

[2017-10-04 16:33] thebitguru commented on #42
It [lives in `/System/Library/CoreServices/rcd.app/Contents/MacOS/`](https://github.com/thebitguru/play-button-itunes-patch/blob/master/iTunes%20Play%20Button%20Patch/Patcher.h#L13).  Using the one from Sierra will likely work if High Sierra installer didn't touch this file, but I would suggest backing up the patched file just in case if that doesn't work.

[2017-10-08 16:17] #42 closed

[2017-12-02 17:57] dmlemos opened #43 "Not functioning on High Sierra (10.13.1)"
Recently upgraded to 10.13.1, and after disabling SIP and patched iTunes is still opening.
It was working before with Sierra up until now.

Attached is the log
[com.thebitguru.Play-Button-iTunes-Patch 2017-12-02 17-32.log](https://github.com/thebitguru/play-button-itunes-patch/files/1524028/com.thebitguru.Play-Button-iTunes-Patch.2017-12-02.17-32.log)

[2017-12-02 21:28] thebitguru commented on #43
Hi, @dmlemos,

Thanks for reporting this and sharing the log file.  Based on the log, the file should already be patched.  Can you confirm that you restarted your Mac after patching?  Also, by any chance, are you trying the play/pause button on a Bluetooth headset?

[2017-12-03 00:33] dmlemos commented on #43
I tried to patch it twice. And yes I restarted the mac. Just using the internal keyboard nothing more.

[2017-12-05 02:31] thebitguru commented on #43
That's really weird.  The log says that the file is patched.  Can you attach the output of the following command?

`strings /System/Library/CoreServices/rcd.app/Contents/MacOS/rcd`

[2017-12-06 02:45] peterguy commented on #43
Doesn't work for me on High Sierra as well. **The patch GUI said that the rdc status was "Patched." when I first ran it, even though I had not run it before.** I ran the patching anyway, it prompted for my password several times, and proclaimed that it was patched and now there was a backup.

Here are some comparisons of the patched file and the backup:

    Johnny-Five:~ peter$ ls -l /System/Libr

[2017-12-06 03:54] peterguy commented on #43
Looks like `_FIND_COMMAND_DATA` is no longer in the executable. Wonder if that has been moved off somewhere else.

[2017-12-10 15:12] tjebb commented on #31
Little late here, and this may be outdated, but this github project tried to do just that
https://github.com/rpendleton/spotify-rcd

[2017-12-13 16:07] thebitguru commented on #43
Sorry, I have been quite consumed by my primary job.  I will look into this as soon as I can.

[2017-12-13 18:42] peterguy commented on #43
No apology needed - be glad you have a primary job! :-)

I saw your clever hack in `Patcher.m`, and I did some digging through the `strings` of various other executables involved in the launching of iTunes, like `mediaremoted`, but I did not find any obvious candidate for the same kind of command substitution.

macOS Sierra really messed up the RCD hacking crowd - there is a liberal sprinkling of

[2017-12-19 20:46] JuniorGenius commented on #43
+1 for this. Had the same exact experience, and I'm at my wit's end.

[2018-01-13 03:27] thebitguru commented on #43
@peterguy :)  Thanks for sharing the details!  I finally got a chance to start looking more into this.  I agree with your assessment that Apple has changed how they are launching iTunes in 10.13, I didn't find any references to the string that the patch was replacing before.

Sounds like this will require some serious detective work again.

I have noticed that in High Sierra I haven't needed this.

[2018-01-13 04:04] peterguy commented on #43
No alternate media player here: I was actually hoping to use your patch to stop iTunes from launching every time I connected to a bluetooth speaker.

[2018-01-13 21:28] dmlemos commented on #43
I use cmus and sometimes spotify.

[2018-02-19 12:41] Mebius973 commented on #43
Hi guys, to bad this is not working anymore :-(
I don't know if that could help you but this project does some jam with the media keys, maybe it's approach could be reusable https://github.com/milgra/highsierramediakeyenabler

[2018-04-18 12:55] gigantaur opened #44 "Patch did not work for me on High Sierra"
Hi Farhan,

The patch has worked for me for many years however it i no longer working on High Sierra.

I notice it stopped working, downloaded 1.1.  Disabled SIP. Rebooted.  Ran 1.1.  It said patched already - I rewatched for the hell of it.  Rebooted. iTunes still launches using the play button.

Any help would be greatly appreciated.

Cheers,
Chris

See screenshot
![screen shot 2018-04-18 at 10

[2018-04-18 12:58] gigantaur commented on #44
Sorry here are the logs ..

[com.thebitguru.Play-Button-iTunes-Patch 2016-11-09 12-00.log](https://github.com/thebitguru/play-button-itunes-patch/files/1924068/com.thebitguru.Play-Button-iTunes-Patch.2016-11-09.12-00.log)
[com.thebitguru.Play-Button-iTunes-Patch 2018-04-18 12-38.log](https://github.com/thebitguru/play-button-itunes-patch/files/1924069/com.thebitguru.Play-Button-iTunes-Patch.2018-0

[2018-04-25 07:47] gigantaur commented on #44
Disabling the Play button (and other useful buttons) in Preferences/Keyboard/"Use F1 F2 etc as standard function keys"  did work ..

[2018-04-25 18:36] thebitguru commented on #44
Hi, @gigantaur, sorry, I have been quite busy lately.  There is a known issue with High Sierra that I need to work on and this is likely because of it.  I will try to get to this soon.

[2018-04-27 03:41] gigantaur commented on #44
Thanks heaps for the reply.

A fantastic contribution that you make in doing this - one many of us really appreciate.

Do you think you will be able to avoid the need recovery mode to turn off the system protection - even a sudo command line script to start or finish would be better than the whole recovery mode ..

Cheers
Chris

On 26 Apr 2018, at 4:36 am, Farhan Ahmad <notifications@github.com> w

[2018-04-27 13:37] rkcarter commented on #44
@gigantaur, I don’t think that will work. One of the points of System Integrity Protection is that a remote attacker can’t modify the system code, even if they acquire root.

- Rick

--
Rick Carter
Ann Arbor, Michigan USA
Rick.Carter@gmail.com

[2018-06-13 21:35] aaether32323 commented on #44
Until the patch is updated one can always run
`sudo chmod -x /Applications/iTunes.app/Contents/MacOS/iTunes` to completely turn off iTunes. Of course this doesn't work if you actually use iTunes.

[2018-06-21 19:19] loshlee opened #45 "F8 still launched iTunes"
Reported success, but iTunes still launched even after restart.

[2018-06-22 21:11] aaether32323 commented on #44
@AlbertoFdzM I forgot that you need to disable SIP for that to work

[2018-10-07 19:57] kenmhaggerty opened #46 "Play Button iTunes Patch not working on MacBook Pro Touch Bar w/ Mojave"
I will have to double-check if the patch is working on my 2012 MacBook Pro running Mojave, but on my 2018 MacBook Pro running Mojave, the Touch Bar's play button still launches iTunes even after going through the regular setup process w/o error. (Disable SIP → Run patch → Re-enable SIP)

Please let me know what info I can provide to help debug.

[2018-11-04 18:31] petersg83 commented on #46
Same here :)

[2018-11-07 02:28] thebitguru commented on #46
Sorry, things seem to have changed recently and I haven't had time to find a workaround.  I did notice that Apple has lately released an API to properly handle the keys without launching iTunes, thus mostly eliminating the need for this patch.  Is the app that you are using not handling media keys properly?  If so, can you share which app this is?

[2018-11-07 04:29] thebitguru commented on #46
Oh, I see the confusion. In previous macOS versions, Apple would launch iTunes when you used the media keys even if you had a different media player (e.g. Nightingale) running.  That was my intented use case for creating this patch.

In your case it sounds like you don't want iTunes to start in any scenario...?

[2018-11-07 04:34] kenmhaggerty commented on #46
Yes! Sometimes I accidentally tap the play button, and it shouldn't do anything if there's no media player launched. I think that should be the default macOS behavior... but in the absence of that I've been relying on this patch to do that!

[2018-11-10 22:53] petersg83 commented on #46
Hi, I found the patch for the same reason as kenmhaggerty's.
I have to add that I use Spotify and if I haven't done anything with Spotify for a while (while it is open somewhere in my spaces) and I press play to play the music on spotify, many times it launches iTunes. Even though Spotify is open! I don't know if the patch you created fixes this behavior but I'm interested if it does.
Also, I woul

[2018-11-19 05:12] thebitguru commented on #46
I am debating creating a simple replacement menu bar app that can monitor the media keys and either ignore them (so iTunes doesn't launch) or letting another app handle it. This would also eliminate the need for patching an OS released file like this project does.  But, it would add another app that would have to run all the time.  Would such an app be of interest?

[2018-11-24 18:59] petersg83 commented on #46
For my use it would be perfect, just an icon in the top bar wouldn't bother me :)

[2018-11-25 20:49] thebitguru commented on #46
OK, I will do some research and see if that can be a replacement app.  No commitments though :)

[2018-11-25 20:59] petersg83 commented on #46
Awesome thanks :)

[2018-11-28 18:01] benlk commented on #46
Are there any links for this new API? I've searched Apple's documentation, but couldn't find anything more recent than Snow Leopard. https://developer.apple.com/library/archive/technotes/tn2450/_index.html

[2018-11-29 16:12] thebitguru commented on #46
[MPRemoteCommandCenter](https://developer.apple.com/documentation/mediaplayer/mpremotecommandcenter) is what I had in mind.

[2018-12-03 02:34] thebitguru commented on #46
FYI, BeardedSpice is an option for ignoring media keys.  I created a simple "strategy" script for it that can accomplish this.  Given BeardedSpice's original use case, the interface isn't ideal (shows the title of the first tab), but it's a proof of concept.  [This](https://gist.github.com/thebitguru/cbf7d739fed6516161465429964f3e31) is the strategy gist.

[2018-12-04 21:52] pleasejust commented on #46
Yes, please, if you have time, create something, anything that'll prevent iTunes from launching when you press the play button, even when there's no other media player open. Of course when iTunes or other media players are open the keys should work. I'm holding off upgrading to Mojave because of this. Thanks a lot.

[2019-01-28 09:01] kaiserkiwi commented on #46
I have the exact same issue as petersg83 and hoped to find any solution here. Are there any news on this?

[2019-03-21 07:19] pickanothername commented on #46
I also have the same issue as those above me.

[2019-04-07 09:55] m1guelpf commented on #46
Any update on this?

[2022-01-13 05:05] yougotwill commented on #46
Not a perfect solution but recently discovered https://github.com/tombonez/noTunes.

[2022-01-13 10:52] AlecRust commented on #46
There's also https://github.com/beardedspice/beardedspice